$rise-distance: 4rem;
@keyframes rise {
	0% {
		transform: translate3d(0, $rise-distance, 0);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	99.9% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.animated-rise {
	animation: rise 1s $animation-function 0s 1 normal forwards;
}
.will-animate-rise {
	transform: translate3d(0, $rise-distance, 0);
	opacity: 0;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.animated-float {
	animation: floating 1.5s ease-in-out 0s infinite normal forwards;
}
