.card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
	background-color: $ui-light;
	border: 1px solid $ui-border;
	box-shadow: $box-shadow-lg;
	width: $layout-size-xl;
	border-radius: 4px;
	align-items: center;
	margin: 1rem;
	overflow: hidden;
}

.card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width: 4rem;
	background-color: green;
	margin-block-end: 2rem;
}

.card-header {
	text-align: center;
	width: 100%;
	white-space: pre;
	font-size: $font-size-lg;
}

.card-body {
	text-align: center;
}
