.event {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.event-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-block-end: 1rem;
	align-items: center;
}

.event-title {
	text-align: start;
	flex-grow: 1;
	font-size: $font-size-md;
}

.event-presenter {
	text-align: end;
	font-size: $font-size-xs;
}

.event-body {
	font-size: $font-size-xs;
	margin-block-end: 1rem;
}

.event-footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: $font-size-xs;
}
