.hero {
	min-height: 70%;
	background: $ui-dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $text-color-light;
	position: relative;
	padding-bottom: 100%;
	position: relative;
	margin-block-end: 16%;

	.particles-js-canvas-el {
		position: absolute;
		top: 0;
		left: 0;
		min-height: calc(100% + 20rem);
	}

	.hero-header {
		font-size: $font-size-xl;
		margin-block-end: 2rem;
		text-align: center;
		z-index: 1;
		text-shadow: $text-shadow;
	}

	.hero-subheader {
		font-size: $font-size-lg;
		text-align: center;
		max-width: $layout-size-lg;
		margin-block-end: 6rem;
		z-index: 1;
		text-shadow: $text-shadow;
	}

	.hero-continue-icon {
		position: absolute;
		bottom: 4rem;
		cursor: pointer;
		z-index: 1;
		height: 3rem;
		width: 3rem;

		> path {
			stroke: $text-color-light;
		}

		&:focus {
			outline: 1px dotted $text-color-light;
		}
	}

	.hero-wave {
		display: inline-block;
		position: absolute;
		inset-block-start: 100%;
		inset-inline-start: 0;

		> path {
			fill: $ui-accent;
		}
	}
}

.section-header {
	text-align: center;
	font-size: $font-size-xl;
	margin-block-end: 3rem;
}

.section-subheader {
	max-width: $layout-size-lg;
	margin: 0 auto;
	margin-block-end: 2rem;
	text-align: center;
	font-size: $font-size-md;
}

.section-body {
	max-width: $layout-size-lg;
	margin: 0 auto;
	margin-block-end: 8rem;
	text-align: center;
	font-size: $font-size-md;
}

.section {
	padding: 7rem 2rem;
	box-sizing: border-box;

	&.program {
		padding-inline-start: 0;
		padding-inline-end: 0;
		display: flex;
		flex-direction: column;

		.section-header,
		.section-body {
			padding-inline-start: 2rem;
			padding-inline-end: 2rem;
		}
	}

	&.partners {
		.section-body {
			margin-block-end: 0;
		}
	}
}

.contact-wave-container {
	height: 10rem;
	overflow: hidden;

	.contact-wave {
		height: 100%;
		width: 100%;

		> path {
			fill: $ui-accent-dark;
		}
	}
}

.section.contact {
	background-image: $ui-dark;
	color: $text-color-light;
	min-height: 30rem;
	position: relative;

	.contact-email {
		&,
		&:hover,
		&:active,
		&:visited {
			color: $text-color-light;
		}

		&:focus {
			outline: 1px dotted $text-color-light;
		}
	}

	// .contact-content {
	// 	max-width: $layout-size-xl;
	// 	margin: 0 auto;
	// 	display: flex;
	// 	flex-direction: column;

	// 	.contact-content-inputs {
	// 		display: grid;
	// 		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	// 		column-gap: 2rem;
	// 		row-gap: 2rem;
	// 		margin-block-end: 2rem;
	// 	}

	// 	.contact-content-input {
	// 		display: grid;
	// 		row-gap: 0.25rem;

	// 		.input {
	// 			flex: 1 1 auto;
	// 		}
	// 	}

	// 	.button {
	// 		align-self: flex-end;
	// 		margin-block-start: 2rem;
	// 	}
	// }
}
