.hero {
	min-height: 100vh;
	background: $ui-dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $text-color-light;
	position: relative;

	.particles-js-canvas-el {
		position: absolute;
		top: 0;
		left: 0;
	}

	.hero-header {
		font-size: $font-size-xl;
		margin-block-end: 2rem;
		text-align: center;
		z-index: 1;
	}

	.hero-subheader {
		font-size: $font-size-lg;
		text-align: center;
		max-width: $layout-size-lg;
		margin-block-end: 6rem;
		z-index: 1;
	}
}

.about-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-block-start: -7rem;
	transform: translate3d(0, 0, 0);
}

.section-header {
	text-align: center;
	font-size: $font-size-xl;
	margin-block-end: 2rem;
}

.section-body {
	max-width: $layout-size-lg;
	margin: 0 auto;
	margin-block-end: 8rem;
	text-align: center;
	font-size: $font-size-md;
}

.section {
	padding: 7rem 2rem;

	&.program {
		padding: 0;
		margin-block-start: 8rem;
	}
}

.section.contact {
	background-image: $ui-dark;
	color: $text-color-light;
	min-height: 30rem;

	.contact-content {
		max-width: $layout-size-xl;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		.contact-content-inputs {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin-block-end: 2rem;

			.input {
				flex: 1 1 auto;

				&:not(:first-child) {
					margin-inline-start: 4rem;
				}
			}
		}

		.button {
			align-self: flex-end;
			margin-block-start: 2rem;
		}
	}
}
