$partner-image-size: 10rem;

.partner-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	max-width: $layout-size-xl;
	margin: 0 auto;
}

.partner {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 33%;
	flex: 1 1 33%;
	padding: 3rem 1rem;
	box-sizing: border-box;
}

.partner-image {
	height: $partner-image-size;
	width: $partner-image-size;
	border: 1px solid $ui-light;
	margin-block-end: 1rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	& > * {
		max-height: 100%;
		max-width: 100%;
	}
}

.partner-name {
	text-align: center;
}
