$portrait-image-size: 15rem;

.portrait-container {
	max-width: $layout-size-xl;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-template-rows: 1fr 1fr;
	row-gap: 6rem;
	column-gap: 4rem;
}

.portrait {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
}

.portrait-image {
	height: $portrait-image-size;
	width: $portrait-image-size;
	border-radius: 100%;
	background-color: $ui-dark;
	border: 1px solid $ui-border;
	margin-block-end: 2rem;
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: $box-shadow-md;
}

.portrait-name {
	margin-block-end: 0.5rem;
	text-align: center;
	font-size: $font-size-lg;
}

.portrait-title {
	text-align: center;
	font-size: $font-size-md;
}
