@keyframes grow {
	0% {
		width: 0;
	}
	20% {
		width: 0;
	}
	99.9% {
		width: 100%;
	}
	100% {
		width: 100%;
	}
}

@keyframes shrink {
	0% {
		width: 100%;
	}
	40% {
		width: 0;
	}
	99.9% {
		width: 0;
	}
	100% {
		width: 0;
	}
}

.program-note {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	max-width: $layout-size-xl;
	margin: 2rem auto;
	width: 100%;
}

.program-note-icon {
	height: 4rem;
	width: 4rem;
	background-color: #cdcdcd;
	margin-inline-end: 4rem;
	flex-shrink: 0;
}

.program-note-body {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.program-note-title {
	font-size: $font-size-lg;
	display: inline-flex;
	white-space: nowrap;

	&::after {
		content: '';
		background-color: $text-color-light;
		height: 2px;
		width: 0;
		margin-inline-start: 2rem;
		align-self: center;
		transition: width $animation-duration-short $animation-function 0s;
	}
}

.tabs-content[aria-hidden='false'] .program-note-title::after {
	animation: grow $animation-duration-long $animation-function
		calc(#{$animation-duration-long} / 3) 1 normal forwards;
}
.tabs-content[aria-hidden='true'] .program-note-title::after {
	animation: shrink $animation-duration-long $animation-function 0s 1 normal
		forwards;
}

.tabs-content[aria-hidden='false'] .program-note-title.slide2::after {
	animation-delay: calc(2 * #{$animation-duration-long} / 3);
}
.tabs-content[aria-hidden='false'] .program-note-title.slide3::after {
	animation-delay: $animation-duration-long;
}

.program-note-text {
	font-size: $font-size-md;
}
