@import './variables.scss';
@import './animations.scss';

html {
	font-size: 16px !important;
	height: 100%;
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: $text-color-dark;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

a,
p,
span {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, $ui-border 0%, $ui-border 14%);
	border-radius: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 3px;
}

/******* IMPORTS *******/
@import './main.scss';
@import './button.scss';
@import './divider.scss';
@import './event.scss';
@import './input.scss';
@import './navigation.scss';
@import './partner.scss';
@import './portrait.scss';
@import './tabs.scss';
