$text-color-light: #ffffff;
$text-color-dark: #000000;

$ui-light: #ffffff;
$ui-dark: #221f22;
$ui-accent: #7b507c;
$ui-border: #cdcdcd;

$box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.71);

$layout-size-lg: 650px;
$layout-size-md: 400px;

$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-md: 1.25rem;

$animation-duration: 0.25s;
$animation-function: linear;
